.layout {
    &__container {
        margin: 0 auto;
        max-width: 1440px;
        padding-left: 20px;
        padding-right: 20px;
        @include media(">large") {
            padding-left: 50px;
            padding-right: 50px;
        }
        &--no-padding-large {
            @include media("<large") {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}