
// Packages
@import "include-media/dist/_include-media.scss"; 

// Global imports
@import "./variables.scss";
@import "./layout.scss";

// Components
@import "./components/button.scss";
@import "./components/featured-posts.scss";
@import "./components/footer.scss";
@import "./components/header.scss";
@import "./components/page-banner.scss";

@import "./page/home.scss";


// Global styles
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Rubik', sans-serif;
  background-color: $secondary-background-color;
  color: $black;
}

h1 {
  line-height: 1.15;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  @include media(">large") {
    font-size: 28px;
  }
  @include media(">xlarge") {
    font-size: 36px;
  }
}
h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  @include media(">large") {
    font-size: 20px;
  }
  @include media(">xlarge") {
    font-size: 26px;
  }
}

p {
  font-size: 14px;
  line-height: 1.6;
  @include media(">large") {
    font-size: 16px;
  }
  @include media(">xlarge") {
    font-size: 18px;
  }
}

div {
  box-sizing: border-box;
}
