//Colours
$primary-color: #104D5B;
$secondary-color: #E6823E;
$dark-gray: #292929;
$light-gray: #323447;
$white: #fff;
$black: #131313;
$highlight: #2db2d2;


$dark-background: #C47C50;
$primary-background-color: #E2E8EB;
$secondary-background-color: #FFF4E7;

// Fonts
// $body-font: 'Lato', sans-serif;
// $heading-font: 'Lalezar', cursive;
$text-color: $black;
// $global-weight-bold: 700;
// $global-weight-black: 900;

// Properties
$global-border-radius: 38px;
$global-border-radius-small: 12px;
$global-shadow:  0px 2.6px 3.6px rgba(0, 0, 0, 0.021),
                0px 7.3px 10px rgba(0, 0, 0, 0.03),
                0px 17.5px 24.1px rgba(0, 0, 0, 0.039),
                0px 58px 80px rgba(0, 0, 0, 0.06) ;

//Breakpoints
$breakpoints: (
  small: 320px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);
// Example
// @include media(">xlarge") {}
